.clock-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clock-data{
    text-align: center;
    padding: 2rem;
}
.text-center h1{
    font-size: 50px;
    color: var(--whitefont-color);
    border:none;
    border-radius: 5px;
    box-shadow: White 0px 48px 100px 0px;
}
.text-center h5{
    font-size: 30px;
    color: var(--whitefont-color);
    background-color: #ffcd4e;
    border:none;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: whitesmoke 0px 20px 30px -10px;
}

@media screen and (max-width: 1400px) {
    .text-center h1{
        font-size: 40px;

    }
    .text-center h5{
        font-size: 20px;

    }
}
@media screen and (max-width: 1000px) {
    .text-center h1{
        font-size: 32px;

    }
    .text-center h5{
        font-size: 16px;

    }
    .clock-data{
        padding: 0.5rem;
    }
}
@media screen and (max-width: 700px) {
    .text-center h1{
        font-size:24px;

    }
    .text-center h5{
        font-size: 12px;

    }
    .clock-data{
        padding: 0.5rem;
    }
}
